{% extends 'base.html' %}

{% block content %}
    <h1>메인 페이지</h1>
    {% if list %}
    <table class="table">
        <tr>
            <th>글 제목</th>
            <th>글 내용</th>
            <th>글 날짜</th>
        </tr>
        
        {% for writing in list %}
        <tr>
            <td>({ writing.title })</td>
            <td>({ writing.contents })</td>
            <td>({ writing.date })</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p> 작성된 글이 없습니다.</p>
    {% endif %}
{% endblock %} 