body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #f63232;
    text-align: center;
    /* position: fixed; */
    width: 100%;

}

header h1{
    color: white;
    border: 8px solid white;
    border-radius: 36px;
    padding: 6px 50px;
    display: inline-block;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
}

article h2{
    color: red;
    font-size: 48px;
}

article p{
    line-height: 2em;
    color: #4b4b4b;
}

.banner{
    position: relative;

}
.banner img{
    max-width: 100%;
}

.welcome{
    color: white;
    position: absolute;
    background-color: #feb614;
    padding: 5px;
    font-size: 21px;
    top: 10%;
}

@media screen and (max-width: 700px){
    .welcome{
        position: relative;
        font-size: 30px ;
    }

    .welcome br{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .welcome{
    font-size: 15px;
    position: relative;
    text-align: center;
    }
    .welcome br {
        display: none;
    }
}