.container {
    width: 100%;
    height: 100%;
  }
  
  /* 주어진 지시사항에 맞춰 결과 화면과 최대한 유사하게 스타일링 해보세요. */
  .infoBox {
    height: 40%;
    display: flex;
    flex-direction: column;
  
  }
  
  .inputBox {
    display: flex;
    flex-direction: row;
  
    align-items: center;
    padding: 20px;
  }
  
  .inputBox div {
    flex: 1;
    /* font-weight: bold; */
  }
  
  .inputBox input{
      flex: 1;
  
  }
  
  .buttons {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    width: 200px;
    height: 50px;
  }
  
  .container .buttons #checkButton {
  }
  