
/* 위쪽부분 */
.header{
    box-sizing: border-box;
    border-bottom: solid 1px #dbdbdb;   
}

.header__container{
    width: 975px;
    height: 60px;
    margin: 0 auto; /*외부여백*/
    padding: 0 20px; /*내부 여백*/
    box-sizing: border-box;

    display: flex;
    justify-content: space-between; /*수평으로 정렬*/
    align-items: center;
}

.header__logo{
    display: flex;
    flex-basis: 333px;
}
.header__logo img:nth-child(2){ /*header__logo안에 있는 Img에서 두번째 이미지를 선택하는 거임*/
    padding: 8px 4px;
    cursor: pointer;
}

.header__search{
    width: 268px;
    position: relative;

}

.header__search img{
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translate(-50%, -50%);
}

.header__search input{
    width: 268px;
    height: 36px;
    padding-left: 40px;
    box-sizing: border-box;  /*정해진 사이즈에 맞게 하기위해 쓴다*/
    background-color: #efefef;
    border: none;
    border-radius: 8px;
    outline: none;
}
.header__buttons{
    display: flex;
    flex-basis: 333px;
    justify-content: flex-end;
}

.header__buttons img{
    margin: 0 9px;
    cursor: pointer;
}
.header__buttons .header__avata{
    margin: 0 8px;
    cursor: pointer;
}

.header__buttons .header__avata img{
    border-radius: 50%;
}
/* 중간 부분 */
.main__section{
    width: 953px;
    height: auto;
    margin: 0 auto;
    padding: 30px 20px 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column; /*세로 정렬임*/
    justify-content: flex-start;
}

.main__section .main__profile{
    display: flex;
    margin: 0 30px 44px 0;
}

.main__profile .main__avata{
    width: 292px;
    margin-right: 30px;
    display: flex;
    justify-content: center; /*space-around로 해도 중앙 정렬이다 왜냐하면 요소가 한개니깐*/
    cursor: pointer;
}

.main__profile .main__avata img{
    border-radius: 50%;
}

.main__header .top{
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start; /*요소가 서로달라 space-around를 해도 같은 결과가 나옴 요소가 같을때 space-around사용*/
    align-items: center;
}
.main__header .top h2{
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 30px; /*폰트크기 제외하고 나머지로 위아래 여백을 만든다*/
    cursor: pointer;
}

.main__header .top button{
    width: 90px;
    height: 30px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px #8e8e8e solid;
    border-radius: 4px;
    font-weight: 700;
    color: #262626;
    cursor: pointer;
}
.main__header .top img{
    margin-right: 10px;
    cursor: pointer;
}

.main__header .middle{
    margin-bottom: 20px;
}

.main__header .middle ul{
    display: flex;
}

.main__header .middle ul li{
    margin-right: 40px;
}

.main__header .middle ul li b{
    font-weight: 700;
}

.main__header .h3{
    font-weight: 700;
}


.main__nav{
    display: flex;
    height: 53px;
    justify-content: center;
    border-top: 1px solid #dbdbdb;
}

.main__nav ul{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.main__nav ul li{
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0);

}

.main__nav ul li img{
    width: 12px;
    height: 12px;
    margin: 0 7px 2px 0;
    filter: contrast(15%);
}
.main__nav ul li a{
    text-decoration: none;
    color: #8e8e8e;
}

.main__posts{
    width: 100%;
    height: 293px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 28px;
}

.main__posts img:nth-child(3n){
    margin: 0;
}

.main__posts .main__layout{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column; /*카메라 그림이 위로 올라감 세로정렬이니깐*/
}

.main__posts .main__layout .main__circle{
    width: 62px;
    height: 62px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px #000 solid;
    border-radius: 50%;

}

/* 아래 부분 */

.footer{
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
}

.footer__nav{
    width: 935px;
    margin: 0 auto;
}

.footer__nav .footer__link ul{
    height: 41px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.footer__nav .footer__link ul li{
    margin: 10px;
    color: #8e8e8e;
}

.footer__nav .footer__link ul li a{
    color: #8e8e8e;
    text-decoration: none;
}
.footer__nav .footer__link ul li a:hover{
    text-decoration: underline;
}

.footer__info{
    height: 41px;
    display: flex;
}

.footer__info ul{
    display: flex;
    margin: 0 auto;
}

.footer__info ul li{
    margin: 10px;
    color: #8e8e8e;
}

/* Modal 구현 -> 파일 올리기 css */
.modal__layout{
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__layout .modal__card{
    width: 650px;
}